body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.calculator {
  border: 1px solid #ccc;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 700px;
}

#result {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 40px;
  font-size: 48px;
  text-align: center;
  background-color: yellow;
  border: none;
  cursor: pointer;
}

.operator {
  background-color: #f39c12;
  color: #fff;
}

button:hover {
  background-color: green;
}
